.performance-graph{
  background-color: #282D30;
  height: 263px;
  max-width: 258px;
  width: 100%;
  left: 0px;
  top: 0px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 30px;
  display: flex;
  display: block;
  align-items: center;
}