.activity-section{
  height: 320px;
  left: 0px;
  top: 0px;
  border-radius: 5px;
  background-color: #FBFBFB;
  padding: 20px;
}

.title-list{
  display: flex;
  justify-content: space-between;
  height: 70px;
}

.activity-title{
  display: flex;
  font-size: 15px;
}

.activity-list{
  display: flex;
  text-align: right;
}
.activity-list-li {
  list-style: none;
  font-size: 14px;
  height: 70px;
}

.oval{
  margin-left: 25px;
  margin-right: 10px;
}