.aside{
  display: flex;
}

.profilNameDiv{
  margin:25px;
  padding-left: 30px;
}

.title{
  font-size: 48px;
  padding-bottom: 10px;
}
.profilName{
  font-size: 20px;
  font-weight: normal;
  cursor:pointer;
}
.SportSee{
  color: #FF0000;
}

.error{
  font-size: 100px;
}
.notFound{
  max-width: 500px;
  margin: auto;
  text-align: center;
}

.graph{
  width: 73%;
}
.hello-activity{
  width: 100%;
}
.Sessions-Performance-Score{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  flex-wrap: wrap;
}

.state-global-div{
  display: flex;
  flex-wrap: wrap;
  margin: 90px;
  margin-top: 0;
  color: #282D30;
  font: Roboto;
}

@media screen and (max-width:1438px)and (min-width:600px){
  .graph{
    width: 99%;
  }
}