.aside-icones{
  display: flex;
  flex-direction: column;
}
.icon{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 6px;
  width: 64px;
  height: 64px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: -30%;
}
.headerLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 117px;
  border-radius: 0px;
  background: #020203;
}