.hello-div{
  margin:90px;
  margin-bottom: 70px;
  margin-top: 0px;
}
.donneesMocked{
  text-align: end;
  margin: 0px;
}
.title{
  font-size: 48px;
}
.message{
  font-size: 18px;
  margin-top: -20px;
  font-weight: 400;
}
.firstName{
  color: #FF0000;
}